ion-icon{
  height: 200px;
  width: 100;
  color: rgb(66, 245, 132);
  background-color:rgb(245, 66, 66)
  
}
table{
  height: 100px;
width: 100px;
color: aquamarine;
background-color: rgb(227, 252, 3);
}
.box{
  width: 200px;
height: 200px;
background: linear-gradient(to left , red,green);

}
.box2{
  width: 200px;
height: 200px;
background:radial-gradient(rgb(61, 52, 235),rgb(52, 192, 235));
}